[project]
channels = ["conda-forge"]
name = "gw2-logs-archive"
platforms = ["win-64"]
version = "0.1.0"
repository = "https://https://github.com/wiwihere/wiwi-bot"

[tasks]
django = "python gw2_logs_archive/manage.py"
server = """cmd /c 'start python gw2_logs_archive/manage.py runserver' && cmd /c start 'http://localhost:8000/admin'"""
sort = "python -m ruff check ./**/*.py --select I --fix --force-exclude"
fmt = "python -m ruff format ./**/*.py --force-exclude"
style = {depends-on = ["sort", "fmt"]}
pullmain = { cmd = "git pull origin main"}
code = "code"
code_insiders = "code-insiders"

[dependencies]
python = "3.12.*"
django = "==5.1.6"
ipywidgets = "*"
jupyterlab = "*"
pandas = "*"
pip = "24.*"
psycopg2 = "*"
python-dotenv = "*"
ruff = "*"
tzlocal = "*"
tqdm = "*"

[pypi-dependencies]
discord = "*"