{% load i18n %}

<!-- Custom management shizzle -->
<div style="margin-bottom: 2rem;">
    <div class="dropdown show" style="display: inline-block; margin-right: 1rem;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="tasksMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">{% trans "Tasks" %} <span class="caret"></span></button>

        <div class="dropdown-menu" aria-labelledby="tasksMenuLink">
            <a class="dropdown-item" href="/admin/gw2_logs/import_dps_report/" onclick="alert('Import started.')">Import
                dps report</a>
        </div>
    </div>
</div>